<div class="tab">
  <ul itemscope itemtype="http://schema.org/Blog">
      <li class="preview" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="preview__link" itemprop="url">
          <h2 class="preview__header" itemprop="name">Hi, I'm Jess!</h2>
          <p class="preview__excerpt" itemprop="description">
            I like zombies, Chinese food and building cool stuff with code.<br/><br/>
            Take a little snoop through my projects on <a href="https://github.com/jastbury">Github</a> or have a read of my journey from English Literature geek to software developer.
          </p>
        </div>
      </li>
  </ul>
  {% include archive-link.html %}
</div>
